<div class="background">
  <!-- Background Overlay -->
  <div class="background-overlay"></div>
</div>

<!-- Container for content -->
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="title">
        <h1>GMRK TOURS &amp; TRAVELS</h1>
        <br>
        <p>Coming soon! Explore the world with our exciting travel packages and discover amazing destinations.</p>
        <br>
        <a routerLink="/contact-us" class="btn btn-primary">Get In Touch</a>
      </div>
    </div>

  </div>
</div>


<!-- Coming Soon -->
<div class="coming_soon">
  <h2>Coming Soon</h2>
</div>



<!-- about-section -->
<section #aboutSectionRef class="about-section mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2><span style="color: #ff5722;">About</span> Us</h2>
        <p>Welcome to Coming Soon Tours and Travels! Your ultimate destination for unforgettable travel experiences and
          adventures. We are a passionate team of travel enthusiasts dedicated to curating unique and exciting journeys
          for wanderers like you.

          At Coming Soon Tours and Travels, we believe that travel is not just about reaching a destination; it's about
          the journey, the moments, and the memories that last a lifetime. Whether you're a solo explorer seeking
          thrilling escapades, a family yearning for cherished bonding time, or a couple dreaming of a romantic getaway,
          we have the perfect package to cater to your travel desires.</p>
        <!-- Add the "Know More" button using Bootstrap -->
        <div class="know-more-btn-container">
          <a routerLink="/contact-us" class="btn btn-primary custom-btn">Know More</a>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="assets/logo.png" class="img-fluid" alt="About Us Image">
      </div>
    </div>
  </div>
</section>


<!-- footer -->
<footer class="footer mt-5 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="social-media d-flex justify-content-center align-items-center">
        <!-- Social Media Icons -->
        <p class="mr-3 mb-0">Follow us at:</p>&nbsp;
        <a href="https://www.facebook.com/profile.php?id=100095295576071&mibextid=ZbWKwL" target="_blank"
          title="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://instagram.com/gmrktoursandtravels123?igshid=NGExMmI2YTkyZg==" target="_blank"
          title="Instagram"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>